{% extends 'base.html' %}

{% block content %}
<h1>Acerca de la autora</h1>
<p>Soy Sofía, bióloga especializada en análisis de ADN para la verificación de parentesco. Me dedico a la validación de registros genealógicos de animales de producción y a la estandarización de los análisis de ADN, asegurando que los resultados sean precisos y reconocidos internacionalmente. Mi trabajo combina rigurosidad científica y experiencia práctica para garantizar la confiabilidad de la información genética y apoyar la gestión eficiente de los programas de reproducción animal.</p>
{% endblock %}
